<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam culpa
        voluptatibus ab velit commodi dicta nesciunt amet, reiciendis quam.
        Similique, rerum? Quia, perspiciatis at quae ipsum delectus commodi aut
        officia.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam culpa
        voluptatibus ab velit commodi dicta nesciunt amet, reiciendis quam.
        Similique, rerum? Quia, perspiciatis at quae ipsum delectus commodi aut
        officia.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam culpa
        voluptatibus ab velit commodi dicta nesciunt amet, reiciendis quam.
        Similique, rerum? Quia, perspiciatis at quae ipsum delectus commodi aut
        officia.
      </p>
    </div>
  </body>
  <%- include('./partials/footer.ejs') %>
</html>
